.megaMenuHead {
    width: 100%;
    height: inherit;
    background-color: #f8f9fa;
    top: 100px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    margin-top: 0;
}

.caret {
    width: 14px;
    height: 8px;
    display: inline-block;
    background: url(/img/caret.png) no-repeat;
}

.dropdown:hover .caret {
    transform: rotate(180deg);
}